<% @products.each do |product| %>
  <%#= render partial: 'product', locals: {product: product}  %>
  <h2><%= product.name %></h2>
  <div id="description-<%=product.id %>"><%= truncate product.description %></div>

  <button class="js-more" test-id="More Info" data-id="<%= product.id %>">More Info</button>
  <br>
<% end %>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $(".js-more").on('click', function () {
            let id = $(this).data("id");
            let description;
            $.get("/products/" + id + "/description", function (data) {
                description = data;
                debugger
                $.get("/products/" + id + "/inventory", function (inventoryData) {
                    if (inventoryData === "true") {
                        debugger
                        description += " - Available";
                    } else {
                        description += " - Sold Out";
                    }
                    $("#description-" + id).html(description);
                });
            });
        });
    });
</script>
